.navBlock{
    width:80%; 
    margin:0 auto;
}
.navBlock ul{
text-align: center;
list-style-type: none;
background-color: blueviolet;
overflow: hidden;


 }
.navBlock ul li{
    
    padding: 10px;
    float: left;
}
.navBlock ul li a:hover{ 
background-color: brown;
}
.navBlock ul li a{
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
}
.navBlock .leftNav{
width: 60%;
float: left;
}
.navBlock .rightNav{
width: 39%;
float: right 
}
.navBlock .leftNav .contentArticle{
    padding: 1px 0px 0px 10px;
}

.navBlock .rightNav .contentArticle{
    padding: 1px 0px 0px 10px;
}

article{
    padding: 10px;
    background-color: aqua;
    box-shadow: 5px 10px #888888;

    
}
.customArticle{
    background-color: antiquewhite;

}
@media screen and (min-width : 480px){
    
}