.navBlock{
    width:80%; 
    margin:0 auto;
}
.navBlock ul{
text-align: center;
list-style-type: none;
background-color: blueviolet;
overflow: hidden;


 }
.navBlock ul li{
    
    padding: 10px;
    float: left;
}
.navBlock ul li a:hover{ 
background-color: brown;
}
.navBlock ul li a{
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
}